@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Import */
@font-face {
  font-family: 'MaisonNeueExtended';
  src: url('/fonts/MaisonNeueExtendedWEB-Book.woff2') format('woff2'),
       url('/fonts/MaisonNeueExtendedWEB-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Root Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #000;
  --background-color: #fff;
  --bg-primary: #352E2E;
  --primary: #fce7f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply Custom Font */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'MaisonNeueExtended', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  font-size: 0.9em;

}

.home {
  background-color: #352E2E;
}

.svg-color {
  color: var(--text-color);
  fill: currentColor;
  stroke: currentColor;
}


.custom-box-border {
  border: 1px solid var(--primary);
  padding: 2px
}